.smallcard-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 120px;
}

.smallcard-container > div > img {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.smallcard-container > div {
    display: flex;
    flex-direction: flex-start;
    text-align: justify;
    
}

.smallcard-container > div > p {
    padding-bottom: 10px;
    padding-top: 3px;
    
}

